@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles *

html, body {
  width: 400px;   /* нужная ширина */
  height: 600px;  /* нужная высота */
  margin: 0;
  padding: 0;
  overflow: hidden;
}
